AIRFLOW_UID=50000
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow
NGROK_AUTHTOKEN=your_ngrok_tokken

# Vitiscan
MLFLOW_TRACKING_URI=https://mouniat-vitiscanpro-hf.hf.space
AWS_ACCESS_KEY_ID="your_acces_key"
AWS_SECRET_ACCESS_KEY="your_secret_key"
AWS_DEFAULT_REGION="your_region"
AWS_REGION="your_region"
S3_BUCKET_NAME="your-bucket"
API_DIAGNO=https://mouniat-vitiscanpro-diagno-api.hf.space

fernet_key="your_fernet_key"