# Airflow
AIRFLOW_UID="50000"
_AIRFLOW_WWW_USER_USERNAME="airflow"
_AIRFLOW_WWW_USER_PASSWORD="airflow"
AIRFLOW__CORE__FERNET_KEY="your_fernet_key"

# AWS
AWS_ACCESS_KEY_ID="your_access_key"
AWS_SECRET_ACCESS_KEY="your_secret_key"
AWS_DEFAULT_REGION="eu-west-3"

# Vitiscan
MLFLOW_TRACKING_URI="https://username-mlflow_space_name.hf.space"
HF_TOKKEN="your_HF_token"
VITISCAN_S3_BUCKET="your_bucket"
VITISCAN_API_DIAGNO_URL="https://username-api_space_name.hf.space"

# Optional overrides (defaults are fine for most cases)
# VITISCAN_MIN_NEW_IMAGES=200
# VITISCAN_MAX_DAYS=60
# VITISCAN_TARGET_PER_CLASS=350
# VITISCAN_MIN_F1_IMPROVEMENT=0.01
# VITISCAN_F1_THRESHOLD=0.90
# VITISCAN_RECALL_THRESHOLD=0.90

# Ngrok (for development)
NGROK_AUTHTOKEN=your_ngrok_token